.navbar-brand {
  color: white !important;
  font-weight: 900;
}

.nav-link {
  color: rgb(255, 255, 255, 0.85) !important;
}

.nav-link:hover {
  color: rgb(255, 255, 255, 1) !important;
}

nav {
  color: white;
}
